.item {
  background-color: #4D4D4D;
  border-radius: 8px;
  padding: 12px;
  position: relative;

  h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 1.38rem 0;
    color:  whitesmoke;
    word-break: break-all;
  }
}
